<h1 class="mt-5">{{ title }}</h1>
<p class="lead">{{ description }}</p>
<a href="javascript:void(0);" class="btn btn-outline-success" (click)="onBookAdd('add')">Add</a>
<hr>

<table class="table" *ngIf="books.length > 0; else noBooks">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Quantity</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.quantity }}</td>
        <td>
            <div class="btn-group">
                <button class="btn btn-outline-success btn-sm dropdown-toggle" appDropdown>Manage</button>
                <div class="dropdown-menu">
                    <a href="javascript:void(0);" class="dropdown-item" (click)="onBookSelect(book, 'detail')">Show details</a>
                    <a href="javascript:void(0);" class="dropdown-item" (click)="onBookSelect(book, 'edit')">Edit</a>
                    <a href="javascript:void(0);" class="dropdown-item" (click)="onBookRemove(i)">Remove</a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<ng-template #noBooks>
    <p class="lead">There are no books yet.</p>
</ng-template>