<h1 class="mt-5">{{ title }}</h1>
<p class="lead">{{ description }}</p>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Quantity</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.quantiy }}</td>
        <td>
            <div class="btn-group">
                <button class="btn btn-outline-success btn-sm dropdown-toggle" appDropdown>Manage</button>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Show details</a>
                    <a href="#" class="dropdown-item">Edit</a>
                    <a href="#" class="dropdown-item">Remove</a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>