<h1 class="mt-5">{{ title }}</h1>
<p class="lead">{{ description }}</p>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Quantity</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Harry Potter and Goblet of Fire</td>
    <td>J.K. Rowling</td>
    <td>10</td>
    <td>
      <button class="btn btn-outline-success btn-sm dropdown-toggle">Manage</button>
    </td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td>Harry Potter and Goblet of Fire</td>
    <td>J.K. Rowling</td>
    <td>10</td>
    <td>
      <button class="btn btn-outline-success btn-sm dropdown-toggle">Manage</button>
    </td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td>Harry Potter and Goblet of Fire</td>
    <td>J.K. Rowling</td>
    <td>10</td>
    <td>
      <button class="btn btn-outline-success btn-sm dropdown-toggle">Manage</button>
    </td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td>Harry Potter and Goblet of Fire</td>
    <td>J.K. Rowling</td>
    <td>10</td>
    <td>
      <button class="btn btn-outline-success btn-sm dropdown-toggle">Manage</button>
    </td>
  </tr>
  </tbody>
</table>