<h1 class="mt-5">{{ title }}</h1>
<p class="lead">{{ description }}</p>
<a href="javascript:void(0);" class="btn btn-outline-success" (click)="onClientAdd('add')">Add</a>
<hr>

<table class="table" *ngIf="clients.length > 0; else noClients">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ client.firstName }}</td>
            <td>{{ client.lastName }}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-outline-success btn-sm dropdown-toggle" appDropdown>Manage</button>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item" (click)="onClientSelected(client, 'detail')">Show details</a>
                        <a href="javascript:void(0);" class="dropdown-item" (click)="onClientSelected(client, 'edit')">Edit</a>
                        <a href="javascript:void(0);" class="dropdown-item" (click)="onClientRemove(i)">Remove</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noClients>
    <p class="lead">There are no clients yet.</p>
</ng-template>