<div class="row">
    <div class="col-sm">
        <app-client-list (action)="setAction($event)"></app-client-list>
    </div>
    <div class="col-sm" *ngIf="action === 'detail' || !action">
        <app-client-detail [client]="clientSelected"></app-client-detail>
    </div>
    <div class="col-sm" *ngIf="action === 'edit'">
        <app-client-edit [client]="clientSelected" (action)="setAction($event)"></app-client-edit>
    </div>
    <div class="col-sm" *ngIf="action === 'add'">
        <app-client-add (action)="setAction($event)"></app-client-add>
    </div>

</div>
