<h1 class="mt-5">{{ title }}</h1>
<p class="lead">{{ description }}</p>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Book title</th>
        <th scope="col">Client</th>
        <th scope="col">Date from</th>
        <th scope="col">Date to</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Harry Potter and Goblet of Fire</td>
        <td>John Due</td>
        <td>19.11.2018</td>
        <td>19.12.2018</td>
        <td>ok</td>
        <td>
            <button class="btn btn-outline-success btn-sm">Finish the loan</button>
            <button class="btn btn-outline-info btn-sm">Extend the loan</button>
        </td>
    </tr>
    <tr>
        <th scope="row">1</th>
        <td>Harry Potter and Goblet of Fire</td>
        <td>John Due</td>
        <td>19.11.2018</td>
        <td>19.12.2018</td>
        <td>ok</td>
        <td>
            <button class="btn btn-outline-success btn-sm">Finish the loan</button>
            <button class="btn btn-outline-info btn-sm">Extend the loan</button>
        </td>
    </tr>
    <tr>
        <th scope="row">1</th>
        <td>Harry Potter and Goblet of Fire</td>
        <td>John Due</td>
        <td>19.11.2018</td>
        <td>19.12.2018</td>
        <td>ok</td>
        <td>
            <button class="btn btn-outline-success btn-sm">Finish the loan</button>
            <button class="btn btn-outline-info btn-sm">Extend the loan</button>
        </td>
    </tr>
    <tr>
        <th scope="row">1</th>
        <td>Harry Potter and Goblet of Fire</td>
        <td>John Due</td>
        <td>19.11.2018</td>
        <td>19.12.2018</td>
        <td>ok</td>
        <td>
            <button class="btn btn-outline-success btn-sm">Finish the loan</button>
            <button class="btn btn-outline-info btn-sm">Extend the loan</button>
        </td>
    </tr>
    </tbody>
</table>